<%= form_for(@tenant,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :tenant_user_id%><br>
 	 <%= f.text_field :tenant_user_id%>
  </div>

  <div class="field">
 	 <%= f.label :tenant_rental_id%><br>
 	 <%= f.text_field :tenant_rental_id%>
  </div>
  
  <div class="actions">
  	<%= f.submit %>
  </div>


<% end %>
