<%= form_for(@user,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :username %><br>
 	 <%= f.text_field :username%>
  </div>

  <div class="field">
 	 <%= f.label :user_password %><br>
 	 <%= f.text_field :user_password%>
  </div>
  
  <div class="field">
 	 <%= f.label :email_address %><br>
 	 <%= f.text_field :email_address %>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>

<% end %>
