<%# Copyright (C) 2017 Alexander Hammond %>
<%# page_title 'Managers' %>

<div class="page-header">
  <h3>Managers</h3>
This is a list of all managers
</div>
<h4>Managers Information</h4>
<% count = @managers.count %>
<% if count == 1 %>
  There is <%= count %> manager.
<% else %>
  There are <%= count %> managers.
<% end %>

<% sort_column = 1 %>
<table class="table table-striped table-condensed all-tools-no-show-datatable" data-sort='[[<%= sort_column %>, "asc"]]'>
  <thead>
    <th>Manager User ID</th>
    <th>Manager Code</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr id="<%= dom_id manager %>">
	    <td> <%= manager.manager_user_id%> </td>
	    <td> <%= manager.manager_code %> </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manager_path(manager), :class => 'btn btn-default btn-xs' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      manager_path(manager),
                      :method => :delete,
                      :remote => true,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
	<%= link_to "delete", manager, method: :delete,
           data: { confirm: "You sure?" } %>

        </td>

    </tr>
    <% end %>
  </tbody>
</table>
