<%= form_for(@rental,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :rental_address%><br>
 	 <%= f.text_field :rental_address%>
  </div>

<% if 1 > 2 %>
  <div class="field">
 	 <%= f.label :rental_tenant_id%><br>
 	 <%= f.text_field :rental_tenant_id%>
  </div>
<% end  %>

  <div class="field">
  	<%= f.label :manager_id%><br>
  	<%= f.text_field :manager_id%>
  </div>

  <div class="field">
 	 <%= f.label :rental_rent%><br>
 	 <%= f.text_field :rental_rent%>
  </div>

  <div class="field">
 	 <%= f.label :rental_contract_id%><br>
 	 <%= f.text_field :rental_contract_id%>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>


<% end %>
