<%= form_for(@picture,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :picture_is_before_photo%><br>
 	 <%= f.text_field :picture_is_before_photo%>
  </div>

<% if 1 > 2 %>
  <div class="field">
 	 <%= f.label :picture_image%><br>
 	 <%= f.text_field :picture_image%>
  </div>
<% end  %>
  
  <div class="actions">
  	<%= f.submit %>
  </div>


<% end %>
