<%= form_for(@item,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :item_name %><br>
 	 <%= f.text_field :item_name%>
  </div>

<% if 1 > 2 %>
  <div class="field">
 	 <%= f.label :item_condition %><br>
 	 <%= f.text_field :item_condition%>
  </div>
<% end  %>

  <div class="field">
 	 <%= f.label :item_condition %><br>
<select name="item[item_condition]">
    <% ITEM_CONDITIONS_TYPES.each do |h,k| %>
        <option value="<%= k %>"><%= h %></option>
    <% end %>
</select>

  </div>

  <div class="field">
  	<%= f.label :user_id %><br>
  	<%= f.text_field :user_id %>
  </div>

  <div class="field">
 	 <%= f.label :item_price_in_cents %><br>
 	 <%= f.text_field :item_price_in_cents%>
  </div>

  <div class="field">
 	 <%= f.label :item_description %><br>
 	 <%= f.text_field :item_description%>
  </div>

  
  <div class="field">
 	 <%= f.label :item_purchase_state %><br>
 	 <%= f.text_field :item_purchase_state%>
  </div>
  
  <div class="field">
  	<%= f.label :item_image %><br>
  	<%= f.file_field :item_image %>
  </div>
  
  <div class="actions">
  	<%= f.submit %>
  </div>


<% end %>
