<%= form_for(@expense,
  html: { class: 'form-horizontal' },
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  },
  :html => { :multipart => true }
) do |f| %>

  <div class="field">
	  <%= f.label :expense_amount%><br>
 	 <%= f.text_field :expense_amount%>
  </div>

<% if 1 > 2 %>
  <div class="field">
 	 <%= f.label :expense_reason%><br>
 	 <%= f.text_field :expense_reason%>
  </div>
<% end  %>


  <div class="field">
  	<%= f.label :expense_property_id%><br>
  	<%= f.text_field :expense_property_id%>
  </div>

  <div class="field">
    <%= f.label :user_id%><br>
    <%= f.text_field :user_id%>
  </div>
  
  <div class="actions">
  	<%= f.submit %>
  </div>


<% end %>
