<%# Copyright (C) 2017 Alexander Hammond %>
<%# page_title 'Items' %>

<div class="page-header">
  <h3>Items</h3>
This is a list of all expenses 
</div>
<h4>Items Information</h4>
<% count = @expenses.count %>
<% if count == 1 %>
  There is <%= count %> expense.
<% else %>
  There are <%= count %> expenses.
<% end %>

<% sort_column = 1 %>
<table class="table table-striped table-condensed all-tools-no-show-datatable" data-sort='[[<%= sort_column %>, "asc"]]'>
  <thead>
    <th>Amount</th>
    <th>Reason</th>
    <th>Property ID</th>
    <th>User ID</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr id="<%= dom_id expense%>">
	    <td> <%= expense.expense_amount %> </td>
	    <td> <%= expense.expense_reason%> </td>
	    <td> <%= expense.expense_property_id%> </td>
        <td> <%= expense.user_id%> </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_expense_path(expense), :class => 'btn btn-default btn-xs' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      expense_path(expense),
                      :method => :delete,
                      :remote => true,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
	<%= link_to "delete", expense, method: :delete,
           data: { confirm: "You sure?" } %>

        </td>

    </tr>
    <% end %>
  </tbody>
</table>
